.features-list {
    &__item-img {
            @include center-flex ();
            max-width: 100%;
            height: 120px;
            margin-bottom: 30px;
    
            background-color: var(--third-backgroud-color);
    @include media-desktop {
            display: flex;
            margin: calc(-1 * var(--set-gap));
            
            &__item {
                    margin: var(--set-gap);
                }
            
            &__item-img {
                    width: 270px;          
                }
    }
}}

.features-item-title {
    margin-bottom: 10px;

    // font-weight: 700;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;

    // color: var(--main-text-color);
}

.features-item-subtitle {
    line-height: 1.71;
    // letter-spacing: 0.03em;
    // color: var(--second-text-color);
    // margin: auto auto;
}