.header {
  border-bottom: 1px solid #ececec;
  &__flex {
    @include max767p {
      @include center-flex(flex, space-between);
    }
    @include center-flex;
  }

  &__nav {
    @include max767p {
      margin-bottom: auto;
    }

    @include media-tablet {
      @include center-flex;
    }
  }
}

.nav-list {
  @include font(500, 40px, 1.18, 0.02em);
  @include media-tablet {
    display: flex;
  }
}

.nav-list__item:not(:last-child) {
  @include max767p {
    margin-bottom: 32px;
  }
  @include media-tablet {
    margin-right: 50px;
  }
}

.nav-list__link {
  position: relative;
  color: var(--main-text-color);
  transition: color var(--time-fuction-anim);
  &--accent {
    color: var(--accent-text-color);
  }
  &--accent::after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  @include media-tablet {
    @include font(null, 14px, 1.14, 0.02em);
  }
  @include media-desktop {
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

// .header__contacts {
//   @include media-tablet {
//     @include center-flex;
//     margin-left: auto;
//   }
// }

.header-cl {
  @include font(500, 34px, 1.18, 0.02em);
  @include max767p {
    flex-direction: column-reverse;
    margin-bottom: 64px;
    &__item:first-child .header-cl__link {
      @include font(500, 24px, 1.17, 0.02em);
    }
  }
  &__link {
    color: var(--second-text-color);
    transition: color var(--time-fuction-anim);
    @include media-tablet {
      @include center-flex;
      @include font(null, 14px, 1.14, 0.02em);
    }
    &:hover,
    &:focus {
      color: var(--accent-text-color);
      fill: currentColor;
    }
    &--accent {
      color: var(--accent-text-color);
    }
  }
  @include media-desktop {
    @include center-flex;
  }
  &__item:not(:last-child) {
    @include max767p {
      margin-top: 32px;
    }
    @include media-tablet {
      margin-right: 50px;
    }
  }
}

.email-icon {
  fill: currentColor;
  margin-right: 10px;
  @include max767p {
    display: none;
  }
}

.phone-icon {
  fill: currentColor;
  margin-right: 10px;
  @include max767p {
    display: none;
  }
}

.header__soc {
  @include media-tablet {
    display: none;
  }
  &-link-list {
    @include center-flex(flex, flex-start);
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
    // @include media-phone {
    //   flex-wrap: nowrap;
    // }
  }
  &-item {
    margin-right: 10px;
    margin-bottom: 10px;
    &:not(:last-child) .header__soc-link {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    // flex-basis: calc(100% / 4 - 20px);
    // text-align: center;
    // &::after {
    //   content: '';
    //   margin-left: 10px;
    //   border-right: 1px solid rgba(33, 33, 33, 0.2);
    // }
  }
  // &-item:nth-child(n + 2):nth-child(-n + 3) {
  //   margin-left: -5px;
  &-link {
    display: block;
    @include font(500, 18px, 1.22, 00.02em);
    color: #2196f3;
    // padding-right: 10px;
    // border-right: 1px solid rgba(33, 33, 33, 0.2);
    @include media-tablet {
      display: none;
    }
    &-line {
      // display: block;
      // width: 1px;
      height: 22px;
      // color: rgba(33, 33, 33, 0.2);
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
